* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}
.container {
    width: 800px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    text-align: center;
    background-color: gray;

    .switch {
        display: inline;
        position: relative;
        bottom: 100px;
        left: 25px;
    }

    .submit-button {
        position: relative;
        right: 90px;
    }

    textarea {
        background-color: lightgray;
    }
}